.calendar-body .header-wrapper {
  padding-bottom:20px;
}

.calendar-body .status-bar {
  padding: 0px 10px;
  margin: 10px;
}
.weekdays {
  display: flex;

  margin-top: 10px;
}
.calendar {
  margin: 0;
  width: 100%;
  height: 100%;
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  margin:20px 1px ;
}

.calendar__header i,
.calendar__header select,
.calendar__header h1 {
  margin-right: 10px;
}
.calendar__header-col {
  display: flex;
}
.calendar-body .weekdays li {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}

.days ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calendar .days li {
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 60px;
}

.calendar .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

.boxwrap {
  display: table;
  table-layout: fixed;
  width: 400%;
  height: 100%;
  table-layout: fixed;
}
.box {
  display: table-cell;
  position: relative;
}
