.calendar-body .header-wrapper {
  padding-bottom: 20px;
}
.calendar-body .status-bar {
  padding: 0px 10px;
  margin: 10px;
}
.weekdays {
  display: flex;
  margin-top: 10px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  margin: 20px 1px;
  position: fixed;
  top: 35px;
  left: 30px;
}

.calendar__header i,
.calendar__header select,
.calendar__header h1 {
  margin-right: 10px;
}
.calendar__header-col {
  display: flex;
}
.calendar-body .weekdays li {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 200%;
}
.boxwrap div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxwrap {
  white-space: nowrap;
}
.box {
  display: inline-block;
  width: 120%;
}
<<<<<<< HEAD
/*스크롤 안보이게 하기
/* IE and Edge */
/* Firefox */
/*Chrome, Safari, Opera*/
/*
body {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
body::-webkit-scrollbar {
  display: none;
}
*/
=======
>>>>>>> parent of 1fbc005... scroll기능 1차
