.calendar-body {
  /* position: fixed;*/
  margin-top: 60px;
}
/*헤더부분 start*/
.calendar-body .header-wrapper {
  padding-bottom: 0px;
}
.calendar-body .status-bar {
  padding: 0px 10px;
  margin: 10px;
}

.calendar__header-left {
  display: flex;

  position: fixed;
  top: 40px;
  left: 20px;
}
.calendar__header-right {
  display: flex;

  position: fixed;
  top: 40px;
  right: 20px;
}
.calendar__header i,
.calendar__header select,
.calendar__header h1 {
  margin-right: 10px;
}
/*헤더부분*/
.boxwrap div ul {
  display: flex;
  flex-direction: row;
}
.weeks {
  height: calc(100% / 21);
}
.date {
  height: calc(100% / 6.7);
}
.boxwrap div ul:first-child {
  margin-bottom: 0px;
  font-weight: 600;
}
.boxwrap div li {
  width: calc(100% / 7);
  text-align: center;
}

/*좌-우로 위치하도록 하는 코드*/
.calendar {
}
.boxwrap {
  /*모바일 세로 맞추기
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  /*height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;*/
  overflow: auto;
  white-space: nowrap;

  height: 100vh;
}
.box {
  /*화면넓이 3등분 코드
  float: left;
  width: calc(100% / 3);
  background-color: yellow;
  border: 1px solid black;*/
  display: inline-block;
  align-items: center;
  width: 100%;
  height: calc(100%);
  border: solid 1px mediumvioletred;
}
/*스크롤 안보이게 하기*/
/* IE and Edge */
/* Firefox */
/* Chrome, Safari, Opera
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
*/
.addBtn {
  position: fixed;
  bottom: 0px;
  right: 0px;

  width: 50px;
  height: 50px;
}
