.cal-shell {
    display: block;
    width: 100%;
    margin-top: 40px;
}

/* THE SELECT ROW */

/* MONTH VIEW */

.month-list {
    font-weight: 800;
    font-size: 20px;
}

.month-list li {
    text-align: center;
    height: 40px;
    opacity: 50%;
}
.month-list li:nth-child(2) {
    opacity: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* MONTH VIEW */

.day-list {
    font-weight: 800;
    font-size: 20px;
}

.day-list li {
    text-align: center;
    height: 40px;
    opacity: 50%;
}
.day-list li:nth-child(2) {
    opacity: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* MONTH VIEW */

.year-list {
    font-weight: 800;
    font-size: 20px;
}

.year-list li {
    text-align: center;
    height: 40px;
    opacity: 50%;
}
.year-list li:nth-child(2) {
    opacity: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.boxCalendar {
    display: flex;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: white;
    height: 20%;

    box-shadow: 1px 1px 5px 0px #999;
}
/*라인*/
.cal-shell li {
    margin: 0px 20px;
    padding: 10px;
}
.cal-shell li:last-child {
    border-bottom: none;
}
/*스크롤바 숨기기*/
.month-list,
.year-list,
.day-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.month-list::-webkit-scrollbar,
.year-list::-webkit-scrollbar,
.day-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
/*버튼*/
.submitDatebtn {
    background-color: #fce006;
    height: 5%;
    width: 100%;
    /* outline: none; */
    border: none;
}
.datepicker {
    width: 100%;

    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
    height: 100%;
}
.wrappercontainer {
    width: 100%;
    height: 75%;
}
/*title*/
.date__title {
    display: flex;
}
.date__title label {
    position: fixed;
    margin: 20px;
}

.date__title input {
    padding-left: 60%;
    font-size: 18px;
    outline: none;
    height: 60px;
}
/*input startTime endTime*/
.startTime {
    display: flex;
}
.startTime label {
    position: fixed;
    margin: 20px;
}
.startTime input:hover {
    background-color: lightblue;
}
.startTime input {
    padding-left: 60%;
    font-size: 18px;
    outline: none;
    height: 60px;
}
.endTime {
    display: flex;
}
.endTime label {
    position: fixed;
    margin: 20px;
}
.endTime input:hover {
    background-color: lightcoral;
}
.endTime input {
    padding-left: 60%;
    font-size: 18px;
    outline: none;
    height: 60px;
}
/*캘린더 spna*/
.date span {
    width: 100%;
    display: flex;
    height: 15px;
    font-size: 15px;
    overflow: hidden;
    color: black;
    font-weight: 600;
}

/*내용 입력칸*/

.list_section input {
    border: none;
    color: black;
}

.text-title {
    display: flex;
}
.text-title label {
    position: fixed;
    margin: 20px;
}

.text-title input {
    padding-left: 60%;
    font-size: 18px;
    outline: none;
    height: 50px;
}

/*달력 text색상*/
.box ul li:first-child {
    color: red;
}
.box ul:first-child {
    height: calc(100% / 18);
}

/* Radio */

.colorBtn {
    height: 40px;
    display: flex;
    flex-direction: row;
}
.colorBtn input {
    padding-left: 0;
    outline: none;
    height: 20px;
    width: 20px;
    padding-bottom: 20px;
}

.colorBox {
    margin-left: 60%;
}
.colorBox input {
    cursor: pointer;
    display: inline-block;

    -webkit-appearance: none;
}
.colorBtn label {
    position: fixed;
    margin: 5px 0px;
}
.colorBox input:nth-child(1):after {
    background-color: lightpink;
    border-radius: 25px;

    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.colorBox input:nth-child(2):after {
    background-color: lightskyblue;
    border-radius: 25px;

    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.colorBox input:nth-child(3):after {
    background-color: lightgreen;
    border-radius: 25px;

    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.colorBox input:nth-child(4):after {
    background-color: gold;
    border-radius: 25px;

    content: "";
    display: block;
    height: 20px;
    width: 20px;
}
.colorBox input[type="radio"]:checked:after {
    box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4), inset 0 2px 2px hsla(0, 0%, 100%, 0.4), 0 1px 1px hsla(0, 0%, 100%, 0.8),
        0 0 2px 2px hsla(0, 70%, 70%, 0.4);
}
