.find__write-lineBox {
  /*바닥 고정 */
  position: fixed;
  width: 100%;
  bottom: 66px;
}

.find__write {
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  margin: auto 0;
  padding: 20px 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 7px 10px 3px #999;
}
.find__write:focus {
  /*input을 클릭했을때 파란 테두리를 지우기위해 사용 코드  */
  outline: none;
  /*줄어들때 상하(수직 방향)의 이동 거리 값을 지정*/
  position: fixed;
  top: 65px;
  background-color: white;
}
.find__write:focus ~ .find__icon {
  position: fixed;
  top: 85px;
}
.find__write:focus ~ .find__line {
  position: fixed;
  top: 75px;
}

.find__write:focus ~ .find__write-container {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 120px;
  background-color: white;
}

.find__write-container {
  display: none;
  padding: 15px;
  background-color: white;
}

.find__write-container button {
  position: fixed;
  right: 15px;
  cursor: pointer;
  border-radius: 20px;
  background-color: white;
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-shadow: 0px 0px 2px 2px lightgrey;
  color: lightgrey;
}

.find__write-container li {
  margin: 15px;
  font-size: 17px;
  font-weight: 600;
}
.find__icon-right {
  position: absolute;
  right: 35px;
  opacity: 0.7;
  cursor: pointer;
  bottom: 20px;
}

.find__icon-left {
  position: absolute;
  left: 35px;
  bottom: 20px;
  font-weight: 600;
  color: #fce006;
  cursor: pointer;
}
.find__line {
  position: absolute;
  bottom: 8px;
  border-radius: 10px;
  border: 3px solid #fce006;
  height: 45px;
  width: 90%;
  left: 25px;

  /*클릭 이벤트 허용 여부 :none을 설정하여 마우스 이벤트의 타겟이 될 수 없도록 한다*/
  pointer-events: none;
}
/*날씨 부분*/
.find__imformation {
  display: flex;
  font-size: 16px;
  font-weight: 600;
}
.find_weather_title {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 20px;
}
.find__toDayWeather {
  margin-top: 20px;
  width: 100%;
  display: flex;
  box-shadow: 1px 1px 4px 0px #999;
  flex-direction: row;
}
.find__column {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.find__column span {
  width: 100%;
  margin: 10px;
}

.addingcss {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 120px;
}
.iconaddingcss {
  position: fixed;
  top: 85px;
}
.lineaddingcss {
  position: fixed;
  top: 75px;
}
.lnputaddingcss {
  outline: none;
  position: fixed;
  top: 65px;
  background-color: red;
}

.settings__setting {
  padding: 15px 20px;
  border-top: 1px solid lightgrey;
}
