.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*뛰어쓰기 O: 이 클레스에 각각 적용/
/*공통 클레스를 써서 이미지를 둥글게*/
.friend .friend__avatar {
  width: 50px;
  border-radius: 38%;
  border: 1px solid rgba(236, 236, 236, 0.993);
}
/*뛰어쓰기 X 이어서 쓴다 *:이 클레스를 둘다 가진다*/
.friend__avatar.g-avatar {
  width: 70px;
}
.friend__avatar.m-avatar {
  width: 60px;
}
/*친구 프로필에 div를 가로 -> 세로로 변경*/
.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 14px;
  border: 2px solid #52e084;
  font-size: 14px;
}
/*플레이리스트*/

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 10px;
}

.friend__add-btn {
  display: flex;
  margin-right: 10px;
  
width: 65px;
height: 35px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 1px solid lightgray;
  font-size: 18px;
  font-weight: 600;
}

/*text*/
.friend__content .friend__title {
  font-weight: 600;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}

.friend__content .friend__status {
  opacity: 0.7;
  font-size: 12px;
}

.friend .chat__side {
  opacity: 0.6;
  font-size: 15px;
}

