.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  /*header안의 text라인을 맞추기 위해*/
  align-items: center;
  padding: 0px 20px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer; /*마우스를 가져갔을때 손가락 모양으로 변경*/
}
.header .header_icon {
  font-size: 20px;
  margin-left: 20px;
}
.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
