/* Full-width input fields */
.modal input[type="text"]{
width: 87%;
margin: 20px 5px;
border: none;
outline: none;
border-bottom: 1px solid lightgray;
}
.modal .tiemContainer  label,
.modal .texContainer label {
    width: 20%;
 
 }
.modal a{
    font-size: 15px;
    font-weight: 600;
}
.tiemContainer,texContainer {
justify-content: space-between;
align-items: center;
}
/* Set a style for all buttons */
.modal button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
.modal .buttonBox{
 display: flex;
}

.modal .buttonBox :nth-child(1) {
    background-color: lightskyblue;
    width: 50%;
}
.modal .buttonBox :nth-child(2) {
    background-color: lightpink;
    width: 50%;
}


/* Extra styles for the cancel button */
.modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.modal .closecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


.modal .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal .tiemContainer{
    display: flex;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.modal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .modal span.psw {
        display: block;
        float: none;
    }
    .modal .cancelbtn {
        width: 100%;
    }
}
