/*
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both; https://aboooks.tistory.com/79    ,https://ko.learnlayout.com/clearfix.html    */
}

.slide {
  
}

.clearfix {

}

.box{
  width: 500px;
  height: 800px;
  float: left;
}

.box1 {
  background-color: #b3c4f8;
}
.box2 {
  background-color: #f8bfb4;
}
.box3 {
  background-color: #b4f8b6;
}
